<div class="searchrow_block_simple sys_fan_unit bx-def-margin-sec-top-auto">
	<bx_if:confirmed>
    <div class="bx_sys_unit_checkbox bx-def-round-corners">
        <input type="checkbox" name="sys_fan_unit[]" value="__id__" />
    </div>
	</bx_if:confirmed>
    <bx_if:admin>
    <div class="sys_unit_admin">        
        <i class="sys-icon key"></i>
    </div>
    </bx_if:admin>
    __thumb__
	<div class="clear_both"></div>
	Team Name : <a href="__link__" target="_blank">__team_name__</a> <br><br>
	
	<bx_if:teamPlayer>
           
        <bx_repeat:team_player>
		Team's Players
		    __thumbplayer__
		</bx_repeat:team_player>

    </bx_if:teamPlayer>
	<div class="clear_both"></div>   
</div>
