<div class="searchrow_block_simple sys_fan_unit bx-def-margin-sec-top-auto">
	<bx_if:admin>
    <div class="bx_sys_unit_checkbox bx-def-round-corners">
        <input type="checkbox" name="sys_fan_unit[]" value="__team_id__" />
    </div>
	</bx_if:admin>
    __thumb__
	<div class="clear_both"></div>
	Team Name : <a href="__link__" target="_blank">__team_name__</a> <br><br>
	<bx_if:teamadmin>
           
        <a href="__invite_link__" target="_blank">Invite Player</a><br><br><br>

    </bx_if:teamadmin>
	
	<bx_if:teamPlayer>
	Team's Players <br>
           
        <bx_repeat:team_player>
		<div class="searchrow_block_simple sys_fan_unit bx-def-margin-sec-top-auto">
		__input_check_player__
		    __thumbplayer__ 
			<br>
			<script>$('.thumb_username').addClass(__player_response__);</script>
			<!--div> __player_response__ </div-->
			
		</div><br>	
		</bx_repeat:team_player>
	    
    </bx_if:teamPlayer>
	   
</div>
