<div class="searchrow_block_simple sys_fan_unit bx-def-margin-sec-top-auto">
	<bx_if:admin>
    <div class="bx_sys_unit_checkbox bx-def-round-corners">
        <input type="checkbox" name="sys_fan_unit[]" value="__id__" />
    </div>
	</bx_if:admin>
    __thumb__
	<bx_if:pmatch>
	
	<script>var flag = true; if(flag){  $('.thumb_username').addClass('__player_response_practice__'); flag=false;} </script>
	<!--__player_response_practice__-->
	</bx_if:pmatch>
	<div class="clear_both"></div>
	   
</div>
