
<div class="bx_events_block_info">
    <div class="infoMain">        
        __author_unit__
        <div class="infoText bx-def-margin-sec-top">
            <div class="infoUnit infoUnitFontIcon">
               <b> Match Type : </b>  __match_type__
            </div>
			<!--div class="infoUnit infoUnitFontIcon">
               <b> Match Size : </b> __match_size__
            </div-->
			<div class="infoUnit infoUnitFontIcon">
              <b> Maximum Substitute : </b> __max_subtitude__
            </div>
			<!--div class="infoUnit infoUnitFontIcon">
               <b> Place : </b> __place__
            </div--> 
			<div class="infoUnit infoUnitFontIcon">
             <b> Start Date : </b> __start_date__
            </div> 
			<div class="infoUnit infoUnitFontIcon">
             <b> End Date : </b> __end_date__
            </div> 
			<div class="infoUnit infoUnitFontIcon">
             <b> Match Start Time : </b> __match_time__
            </div>
			<div class="infoUnit infoUnitFontIcon">
             <b> Block Booking : </b> __block_booking__
            </div>
			<div class="infoUnit infoUnitFontIcon">
             <b> Playground: </b> <a href="__playground__" target="_blank">__pgtitle__ </a>
            </div>
			<!--div class="infoUnit infoUnitFontIcon">
              <b> Indoor : </b>  __indoor__
            </div--> 
			<div class="infoUnit infoUnitFontIcon">
              <b> Maximum Age : </b> __max_age__
            </div>
			<div class="infoUnit infoUnitFontIcon">
              <b> Gender : </b> __gender__
            </div>		
			<div class="infoUnit infoUnitFontIcon">
              <b> Payment : </b> __payment__
            </div>
			<div class="infoUnit infoUnitFontIcon">
              <b> Match Status : </b> __match_status__
            </div>
        </div>
    </div>
</div>

