
<div class="bx-twig-unit bx_groups_unit bx-def-margin-top-auto">
     
        __author_unit__<br>
	<div class="bx-twig-unit-info">
        <div class="bx-twig-unit-line">
		<img class="pgicon" src="__match_status__" alt=""> &nbsp;
				<span class="bx-twig-unit-title bx-def-font-h2">__match_name__ &nbsp; &nbsp; __teams__ &nbsp;</span>
               	
		</div>
		<br>
		<div class="bx-twig-unit-line">
			<!--__max_subtitude__ &nbsp;-->
            __clock_icon__  __start_date__ &nbsp;__match_time__ &nbsp;&nbsp;&nbsp;&nbsp;
            __additional_image__ __end_date__ &nbsp;
			__pgicon__
			<a href="__playground__" target="_blank">__pgtitle__ </a> &nbsp;&nbsp;&nbsp;&nbsp;
			<!--__pg_type__ &nbsp;-->
			__join_type__ &nbsp;&nbsp;&nbsp;&nbsp;
			__max_age__ &nbsp;
			__gender__	&nbsp;
			__payment__ &nbsp;
             
            
        </div>
		
	</div>
</div>

