
<div class="bx_events_block_info">
    <div class="infoMain">        
        __author_unit__
        <div class="infoText bx-def-margin-sec-top">
            <div class="infoUnit infoUnitFontIcon">
               <b> Match Type : </b>  __match_type__
            </div>
			<div class="infoUnit infoUnitFontIcon">
               <b> Minimum Players : </b> __min_player__
            </div>
			<div class="infoUnit infoUnitFontIcon">
              <b> Maximum Players : </b> __max_player__
            </div>
			<div class="infoUnit infoUnitFontIcon">
               <b> Address : </b> __address__
            </div> 
			<div class="infoUnit infoUnitFontIcon">
             <b> GPS Location : </b> __gps_location__
            </div> 
			<div class="infoUnit infoUnitFontIcon">
             <b> Pitch Type : </b> __pitch_type__
            </div> 
			<div class="infoUnit infoUnitFontIcon">
              <b> Indoor : </b>  __indoor__
            </div> 
			<div class="infoUnit infoUnitFontIcon">
              <b> Price Per Hour : </b> __price_per_hour__
            </div>	
        </div>
    </div>
</div>

