<div class="bx-twig-unit bx_groups_unit bx-def-margin-top-auto">
     
        __author_unit__<br>
	<div class="bx-twig-unit-info">
        <div class="bx-twig-unit-line">
		<img class="pgicon" src="__pg_icon__" alt=""> &nbsp;
				<span class="bx-twig-unit-title bx-def-font-h2">__pg_name__ </span>
               	
		</div>
		<br>
		<div class="bx-twig-unit-line">
		<img src="__match_type__" alt="">&nbsp;&nbsp; <img src="__indoor__" alt="">&nbsp; &nbsp; <img src="__pitch_type__" alt=""> __ball_hire__ &nbsp; __ball_bump__ &nbsp; __netted__ &nbsp; __with_lines__ &nbsp; __shop__ &nbsp; __wc__ &nbsp; __water__ &nbsp; __status__ &nbsp; __price_per_hour__
        </div>
		
	</div>
</div>