
<div class="bx_events_block_info">
    <div class="infoMain">        
        __author_unit__
        <div class="infoText bx-def-margin-sec-top">
            <div class="infoUnit infoUnitFontIcon">
               <b> Match Type : </b>  <img class="matchtype" src="__match_type__" alt="">
            </div><br>
			<div class="infoUnit infoUnitFontIcon">
               <b> Minimum Players : </b> __min_player__
            </div><br>
			<div class="infoUnit infoUnitFontIcon">
              <b> Maximum Players : </b> __max_player__
            </div><br>
			<div class="infoUnit infoUnitFontIcon">
               <b> Address : </b> __address__
            </div> <br>
			<div class="infoUnit infoUnitFontIcon">
             <b> GPS Location : </b> __gps_location__
            </div> <br>
			<div class="infoUnit infoUnitFontIcon">
             <b> Pitch Type : </b> <img class="pitchtype" src="__pitch_type__" alt="">
            </div> <br>
			<div class="infoUnit infoUnitFontIcon">
              <b> Game Type : </b>  <img class="gametype" src="__indoor__" alt="">
            </div> <br>
			<div class="infoUnit infoUnitFontIcon">
              <b> Price Per Hour : </b> __price_per_hour__
            </div>	
        </div>
    </div>
</div>

