<br>
<div class="bx-twig-unit bx_groups_unit bx-def-margin-top-auto">
	<bx_repeat:playground>
    <div class="bx-twig-unit-thumb-cont bx-def-margin-sec-right">
        <a href="__palyground_url__"><img class="bx-twig-unit-thumb bx-def-round-corners bx-def-shadow" src="__image_playgrpund__"></a>
    </div>

    <div class="bx-twig-unit-info">

        <div class="bx-twig-unit-title bx-def-font-h2">
		<img class="pgicon" src="__pg_icon__" alt=""> &nbsp;
            <a href="__palyground_url__">__palyground_title__</a>
        </div>

		<div class="bx-twig-unit-line"><img src="__match_type__" alt="">&nbsp;&nbsp; <img src="__indoor__" alt="">&nbsp; &nbsp; <img src="__pitch_type__" alt=""> __ball_hire__ &nbsp; __ball_bump__ &nbsp; __netted__ &nbsp; __with_lines__ &nbsp; __shop__ &nbsp; __wc__ &nbsp; __water__ &nbsp; __status__ &nbsp; __price_per_hour__</div>

    </div>
	<br><br>

</bx_repeat:playground>    

</div>

