<br>
<div class="bx-twig-unit bx_groups_unit bx-def-margin-top-auto">
	<bx_repeat:playground>
    <div class="bx-twig-unit-thumb-cont bx-def-margin-sec-right">
        <a href="__palyground_url__"><img class="bx-twig-unit-thumb bx-def-round-corners bx-def-shadow" src="__image_playgrpund__"></a>
    </div>

    <div class="bx-twig-unit-info">

        <div class="bx-twig-unit-title bx-def-font-h2">
            <a href="__palyground_url__">__palyground_title__</a>
        </div>

		<div class="bx-twig-unit-line bx-twig-unit-desc">__pg_status__</div>

        


            <div class="bx-twig-unit-line bx-def-font-small bx-def-font-grayed">
                __created__ <span class="bullet">&#183;</span> <bx_text:_From /> <a href="__author_url__">__author_username__</a>
            </div>

    </div>
	<br><br>

</bx_repeat:playground>    

</div>

