<div class="bx-twig-unit bx_groups_unit bx-def-margin-top-auto">
     
        __author_unit__<br>
	<div class="bx-twig-unit-info">
        <div class="bx-twig-unit-line">
		<img class="team-class" src="__team_status__" alt=""> &nbsp;
				<span class="bx-twig-unit-title bx-def-font-h2">__team-name__ </span>
               	
		</div>
		<br>
		<div class="bx-twig-unit-line">
		<img class="team-class" src="__join_type_icon__" alt="">&nbsp;&nbsp; <img class="team-class" src="__player_icon__"  alt="">__fans_cont__ &nbsp; &nbsp; <img class="team-class" src="__cats__" alt=""> &nbsp; __gender__
        </div>
		
	</div>
</div>



