
<div class="bx_events_block_info">
    <div class="infoMain">        
        __author_unit__
        <div class="infoText bx-def-margin-sec-top">
		
			<div class="infoUnit infoUnitFontIcon">
               <b> Category : </b>  __cats__
            </div>
			<div class="infoUnit infoUnitFontIcon">
               <b> Range(in KM) : </b>  __range__
            </div>
			<div class="infoUnit infoUnitFontIcon">
               <b> Team Location : </b>  __team_locations__
            </div>
			<div class="infoUnit infoUnitFontIcon">
               <b> Team Status : </b>  __team_status__
            </div>
        </div>
    </div>
</div>



