
<div class="bx_events_block_info">
    <div class="infoMain">        
        __author_unit__
        <div class="infoText bx-def-margin-sec-top">
		
			<div class="infoUnit infoUnitFontIcon">
               <b> Category : </b>  <img class="teamcat" src="__cats__" alt="">
            </div><br>
			<div class="infoUnit infoUnitFontIcon">
               <b> Range(in KM) : </b>  __range__
            </div><br>
			<div class="infoUnit infoUnitFontIcon">
               <b> Team Location : </b>  __team_locations__
            </div><br>
			<div class="infoUnit infoUnitFontIcon">
               <b> Team Status : </b>  <img class="teamstatus" src="__team_status__" alt="">
            </div><br>
        </div>
    </div>
</div>



